CHECKOUT
<div>
  <a href="<%= page_path(current_order.pipeline_page.success_pipeline_page.redirect_to_page_params) %>">SUCCESS</a>
</div>
<div>
  <a href="<%= page_path(current_order.pipeline_page.fail_pipeline_page.redirect_to_page_params) %>">FAIL</a>
</div>
<div>
  <a href="<%= page_path(current_order.pipeline_page.chance_pipeline_page.redirect_to_page_params) %>">CHANCE</a>
</div>

<%= form_for current_order do |f| %>
  <%= render partial: "pages/partials/page_data" %>
<% end %>