LANDING

<%= form_for current_order do |f| %>
  <%= render partial: "pages/partials/page_data" %>
  <div>
   Vārds <%= f.text_field :name %>
  </div>
  <div>
    Dzimums <%= f.select :gender, {"Sieviete" => "female", "Vīrietis" => "male"}, {} %>
  </div>
  <div>
    Vecums<%= f.text_field :age %>
  </div>
  <div>
   Svars <%= f.text_field :weight %>
  </div>
  <div>
   Augums <%= f.text_field :height %>
  </div>
  <%= f.submit %>
<% end %>