TEST3
<% if current_order.male? %>
 <% questions_hash = ["q0010", "q0011", "q0016", "q0013", "q0014"]  %>
<% else %>
 <% questions_hash = ["q0010", "q0011", "q0012", "q0013", "q0014"] %>

<% end %>

<%= form_for current_order do |f| %>
  <%= render partial: "pages/partials/page_data" %>
  <% questions_hash.each do |identifier| %>
    <%= render partial: "pages/partials/test_question", locals: {identifier: identifier} %>
    <br/>
  <% end %>
  <div>
    Epasts: <%= f.text_field :email %>
  </div>
  
  <%= f.submit %>
<% end %>